body {
    scroll-behavior: smooth;
}

header .destaque {
    display: flex;
    
}

footer {
    margin-top: 80px;
}

textarea {
    resize: none;
    height: 150px;
}

.add-to-cart:hover {
    transform: scale(1.02);
    transition: 0.3s ease;
}

.carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.nav-item {
    list-style-type: none;
}